/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.pdp-woocommerce .woocommerce-product-gallery ol li {
	list-style: none;
	display: inline-block;
	padding: 10px 5px;
}
.display_none{display:none;}
.pdp-woocommerce .woocommerce-product-gallery ol li:first-child {
	padding-left: 0px;
}
.pdp-woocommerce .woocommerce-product-gallery ol {
	padding-left: 0px;
}
.gfield .gfield_time_ampm > select {
    padding: 15px 5px!important;
    height: auto;
}
.relProd ul.products {
	list-style: none;
	padding-left: 0px;
	 display: flex;   
}
.relProd ul.products li {
    position: relative;  
    padding: 20px;
}
.relProd ul.products li a h2 {
    font-size: 16px;
}
.relProd  .custom-button {
    width: 100%;
    min-height: 65px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #0f0075;
    border: 1px solid #0f0075;
}
.relProd li a .price {
    display: none;
}
.productImg .woocommerce-product-gallery {
    position: relative;
}
.productImg .woocommerce-product-gallery__trigger {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    background-color: #fff;
    padding: 5px 9px;
    border-radius: 50%!important;
}
.pdp-woocommerce .fl-button:hover {
    background-color: #000!important;
    color: #f2f2f2;
}
.addInfo .woocommerce-tabs > ul{
    display: none!important;
}
.addInfo .woocommerce-Tabs-panel  h2{
    font-size: 22px;
}
.addInfo .woocommerce-Tabs-panel  table tr td p{
    padding-left: 20px;
}
.relProd h2 {
    font-size: 30px;
}
.relProd h2 {
    font-size: 30px;
}
.relProd h2 {
    font-size: 30px;
}
.relProd ul.products {
    flex-wrap: wrap;
}
.relProd ul.products li {
    flex: 0 0 25%;
}
/* Font size 14 */
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
div#responsive-menu-additional-content .phone a {
    color: #fff!important;
}
a.uabb-button {
    border-radius: 0px!important;
}
/* Add your custom styles here... */
.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
	color: #000!important;
    border-bottom: 2px solid #000!important;
}
.product-plp-grid .product-grid.btn-grey>.fl-button{
    display: block !important;
}

.fl-page {
    width: auto;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
    max-width: 1250px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700 !important;
}

.fab {
    font: normal normal normal 14px/1 FontAwesome;
}

p:last-child {
    margin-bottom: 0;
}

a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
    background: #0f0075;
    border: 1px solid #0f0075;
    color: #fff;
    border-radius: 3px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    text-decoration: none;
    display: inline-block!important;
    height: auto;
}
a.button:hover,
a.fl-button:hover,
a.fl-button:visited:hover,
.fl-builder-content a.fl-button:hover,
.fl-builder-content a.fl-button:visited:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    text-decoration: none;
}

a.fl-button:hover *,
a.fl-button:visited:hover *,
.fl-builder-content a.fl-button:hover *,
.fl-builder-content a.fl-button:visited:hover * {
    color: #4aaae4;
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children:after {
    content: "\f107";
    font-family: FontAwesome !important;
    font-size: 120%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 0 0px 0 -10px;
    font-weight: 400;
    vertical-align: middle;
}

.navbar .nav .menu-item-has-children>a:after,
.navbar .nav .sub-menu .menu-item-has-children:after {
    display: none;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.sub-menu li .yawp_wim_wrap .widget-area .yawp_wim_title {
    display: none;
}

header.fl-page-header .phone-no {
    float: right;
    order: 2;
    border-left: 1px solid #fff;
    padding: 5px 0 5px 20px;
    margin-left: 20px;
    font-weight: 700;
}

header.fl-page-header .phone-no i {
    color: #767676;
    font-size: 120%;
}

header.fl-page-header .phone-no a {
    color: #767676;
}

.fl-page-nav ul.sub-menu {
    border-color: #fff;
}

.fl-page-nav ul.sub-menu li a {
    font-weight: bold;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li {
    display: inline-block;
    float: none;
    margin-right: 10px;
}
.fl-col .fl-module .pp-gallery-overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .3)), color-stop(100%, rgba(0, 0, 0, .3)))!important;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%)!important;
    background: -o-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%)!important;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%)!important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.3)',endColorstr='rgba(0, 0, 0, 0.3)',GradientType=0)!important;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #000;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #000;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.facetwp-selections ul li{
    width: 100%;
    display: block;
    margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value{
	font-size: 16px;
    color: #000;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}
.fl-page-nav-right .fl-page-nav ul.sub-menu:before {
    bottom: 100%;
    left: 25%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu .sub-menu:before {
    display: none;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu .sub-menu {
    border: 1px solid #e7e3e3;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:before,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:after {
    content: "";
    display: block;
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    margin-top: -2px;
    z-index: 1001;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
    margin-top: 1px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #e7e3e3;
    border-width: 11px;
    margin-left: -11px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu:hover>a:after,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu:hover>a:before {
    opacity: 1;
    visibility: visible;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    padding: 15px 15px;
    color: #767676;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li:hover>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    color: #44a9e6;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li:last-child>a {
    margin-right: 0;
}

.menu-main-verticle-tabs-wrap .fl-row-content-wrap {
    padding: 0px;
}

.verticle-tabs-container-wrap .fl-row-content-wrap .fl-col-content {
    border: 1px solid #979797;
}

.verticle-tabs-container-wrap .fl-row-content-wrap .fl-col-content .fl-heading a {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 3px 3px #000000;
    text-transform: uppercase;
    padding: 0px;
}

.verticle-tabs-container-wrap .fl-row-content-wrap .fl-col-content .fl-heading a span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-verticle-tabs-container-wrap .fl-module-content {
    margin: 0px;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-labels {
    width: 17.9%;
    background-color: #d8d8d8;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-labels:before {
    display: block;
    content: " ";
    background: #d8d8d8;
    height: 111.6%;
    ;
    width: 19.6%;
    left: -20px;
    z-index: -1;
    position: absolute;
    top: -20px;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-panels {
    width: 80%;
    border: 0px;
    padding: 0px;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-panels .fl-tabs-panel-content {
    padding: 0px;
}

.menu-verticle-tabs-container-wrap .fl-tabs-label.fl-tab-active {
    background: none;
}

.menu-verticle-tabs-container-wrap .fl-tabs-label.fl-tab-active:after {
    content: ' > ';
    display: inline-block;
}

.menu-main-verticle-tabs-wrap>.fl-module-content {
    margin-right: -1px !important;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels {
    width: 17.9%;
    margin-top: 20px;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-right: 30px;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label a:after {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    position: relative;
    top: -2px;
    right: 10px !important;
    width: auto !important;
    font-size: 130%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label a {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    padding: 12px 20px;
    display: block;
    font-weight: 600;
}

ul.navbar-nav li.mega-menu>ul.sub-menu {
    padding: 20px 0px 20px;
}


/* .menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label a:hover{
    color: #428bca;
} */

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label.fl-tab-active a:after {
    opacity: 1;
    visibility: visible;
    right: -10px !important;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label.fl-tab-active:after {
    opacity: 1;
    visibility: visible;
    right: -10px !important;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panels {
    width: 80%;
    background: #fff;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panel-content>p {
    margin: 0;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading>a {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading>a .fl-heading-text {
    color: #fff;
}

.menu-main-verticle-tabs-wrap .fl-module-heading,
.menu-main-verticle-tabs-wrap .fl-module-heading * {
    height: 100%;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-module-content {
    margin: 0;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-heading {
    display: table;
    width: 100%;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-heading>a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 10px !important;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-heading>a * {
    color: #fff;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block!important;
    text-align: center!important;
}

.getting-started-three-boxes .fl-col-group .fl-col-content .fl-module-content .fl-cta-text .fl-cta-title {
    min-height: 80px;
    margin-bottom: 20px;
}

.getting-started-three-boxes .fl-col-group .fl-col-content .fl-module-content .fl-cta-text .fl-cta-text-content {
    min-height: 100px;
}


/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    padding: 10px 0 0 0;
    font-family: "Montserrat", sans-serif;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}
.home-content-1st-row .fl-bg-slideshow div{
	width:100%!important;
}
.home-content-1st-row .fl-slide .fl-slide-title{
	margin:0px!important
}

/* Navagation 1 */


/* 
.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
    font-size: 12px;
    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
} */

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #2d2d2d;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}

.wt_menu .current-menu-item a {
    color: #9b9b9b !important;
}


/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.offer-banner-img-megamenu .fl-photo-content a {
    margin: 0px!important;
    padding: 0px!important;
}
.product-grid.featured .row {
    display: flex;
    flex-wrap: wrap;
}


.moove-gdpr-button-holder>button.mgbutton {
    background-color: #fff!important;
    color: #0a0a0a!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #000!important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #000!important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #0f0075;
    border-top: 1px solid #fff;
  }
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
    color: #fff!important;
    opacity: 0.7;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #0a0a0a!important;
  }
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #0f0075!important;
    border: 1px solid #0a0a0a!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #0a0a0a!important;
    background-color: #fff!important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #0a0a0a !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #0f0075!important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #000!important;
    color: #fff!important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #0f0075!important;
  }

.pdpGalleryImagePopup .closePopup>span {
    line-height: 1.5em;
}



@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}
@media (max-width:992px){
	.home-content-1st-row .fl-row-bg-slideshow {
		
	}
	/* Slider height issue on mobile open */
.fl-content-slider .fl-slide-bg-photo {
    position: absolute!important;
    min-height: 500px!important;
}
.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
    min-height: 500px;
}
.fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px!important;
    text-align: center!important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.fl-slide-mobile-photo > img{
    padding: 50px;
    max-height: 500px!important;
    width: auto;
    margin: 0 auto;
}
.fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
}
.fl-content-slider .fl-slide-bg-link{
    z-index: 2;
}
/* Slider height issue on mobile closed */
}
@media (max-width: 820px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff !important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #fbfaf5 !important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}
.phone-div {
    display: flex;
}
p.phone {
    margin-right: 5px;
}

/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 820px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0 !important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #4aaae4;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table-cell;
    width: 1%;
    float: none;
    border-radius: 0;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/*location row */

.location-row a {
    color: #808080 !important;
}

.location-top a {
    color: #2d2d2d !important;
    font-weight: 700;
}

.location-top .fl-button {
    width: 100% !important;
    text-align: center;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center!important;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700 !important;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:820px) {
    .slider-menu {
        display: none;
    }
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
    .aboutbarn .uabb-heading-text {
        font-size: 80px !important;
    }
    .width-issue-col-content {
        width: 40% !important;
    }
    .width-issue-col-form {
        width: 60% !important;
    }
}
@media(max-width:1024px) {
	.homeSliderCta .uabb-infobox-title-wrap h3 {
		font-size: 22px;
	}
    .fr_toggle_box {
        display: none;
    }

}



.btn-white {
    background: #fff !important;
    color: #00247a !important;
    border: 1px solid #00247a !important;
    font-weight: 700;
}


/* Spotlights CSS */


/* Spotlight Layout 3 */

.spotlight-layout-3 .fl-col-group .fl-col:last-child .fl-col-content {
    position: relative;
}

.spotlight-layout-3 .fl-col-group .fl-col:last-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background: inherit;
    position: absolute;
    top: 0;
    right: 100%;
    transform-origin: top left;
    transform: skew(8deg, 0deg);
    -webkit-transform: skew(8deg, 0deg);
    -moz-transform: skew(8deg, 0deg);
    -o-transform: skew(8deg, 0deg);
    -ms-transform: skew(8deg, 0deg);
    z-index: 2;
}


/* Spotlight Layout 4 */

.spotlight-layout-4 .fl-col-group .fl-col:first-child .fl-col-content {
    position: relative;
}

.spotlight-layout-4 .fl-col-group .fl-col:first-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 102px;
    background: inherit;
    position: absolute;
    top: 0;
    left: 99.9%;
    transform-origin: top left;
    transform: skew(-8deg, 0deg);
    -webkit-transform: skew(-8deg, 0deg);
    -moz-transform: skew(-8deg, 0deg);
    -o-transform: skew(-8deg, 0deg);
    -ms-transform: skew(-8deg, 0deg);
    z-index: 2;
}


/* .gt_strd.spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content:after { 
    background: #767676;
} */


/* Spotlight Layout 5 */

.spotlight-layout-5 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-5 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-5 .fl-slide-text,
.spotlight-layout-5 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-5 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-5 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 6 */

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: right;
    text-align: left;
    width: 55%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-6 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-6 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-6 .fl-slide-text,
.spotlight-layout-6 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-6 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-6 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 7 */

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: left;
    text-align: left;
    width: 55%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-7 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-7 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-7 .fl-slide-text,
.spotlight-layout-7 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-7 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-7 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* HP Products Boxes */

.hp-product-1 .njba-logo-carousel-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-2 .njba-logo-grid-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-3 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-4 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: right;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tabs-label .njba-tab-label-inner {
    padding: 10px 20px;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tab-title {
    /*font-weight: */
}

.hp-products-6 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
    position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
    font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title {
    text-transform: uppercase;
}

.hp-products-7 .njba-content:after {
    content: "";
    display: table;
    clear: both;
}

.hp-product-7 .text-content {
    width: 50%;
    float: left;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-7 .text-img {
    width: 45%;
    float: right;
    text-align: center;
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}


/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
    width: 100%;
}

@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .fl-page-nav-right .fl-page-header-logo {
        padding: 0px!important;
    }
}

.fl-node-5be4ee16d7203 .fl-heading .fl-heading-text {
    font-weight: 300;
}

.fl-node-5c06883d6160a .fl-slide-0 .fl-slide-photo {
    height: 260px;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-tabs-label {
    color: #949494 !important;
}

.fl-tabs-label.fl-tab-active {
    color: #222222 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: 28px;
}
.gform_wrapper form .gfield .gfield_time_ampm > select {
    padding: 15px 5px!important;
    height: auto;
}
@media(max-width:900px) {
    .fl-page-header-logo-col {
        width: 100%;
    }
}

@media(max-width:820px) {
    .fl-page-header-logo-col {
        width: 100%;
    }
    .searchBarTop {
        display: none;
    }
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    .fl-node-5be4510d28a69.fl-module-heading .fl-heading {
        text-align: center;
    }
    .fl-node-5be442c535e25 {
        display: flex;
        padding: 10px 0;
        justify-content: center;
    }
    .fl-node-5be442c535e25 .fl-module-content {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col.fl-node-5be5dfc9c4e3e {
        margin: 0 10px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        margin-top: 25px;
    }
    .navbar-nav>li {
        display: block;
        float: none;
    }
    nav.fl-page-nav.navbar.navbar-default,
    .fl-page-nav-collapse ul.navbar-nav {
        width: 100%;
    }
    .fl-node-5beda7e76ea83 {
        display: flex;
        justify-content: center;
    }
    .fl-node-58fab5c012487 p,
    .fl-node-58fab51c4e4ff p,
    .fl-node-5be49ecb044f8 p,
    .fl-node-5aabf8011359b p,
    .fl-social-icons {
        text-align: center !important;
    }
    .sc_mega_menu.active .secondary_menu .nav.navbar-nav.menu {
        margin: 0;
        padding: 0 15px;
    }
    .facet_filters {
        top: 0px;
        bottom: 0;
        height: auto;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        top: 145px;
        bottom: 0;
        height: auto;
    }
    .fl-node-5be4895605f88 .fl-heading {
        text-align: center !important;
    }
    #sifContainer {
        width: auto !important;
        margin: 0 15px !important;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5 {
        text-align: center !important;
    }
    .fl-node-58af407a120f2 {
        max-width: 100% !important;
    }
    .fl-node-5c08bbf72601a .menu .fl-has-submenu .sub-menu {
        /* position: static; */
    }
    .web-form .gform_wrapper .timeEstimate .ginput_container_time select {
        width: 100px !important;
        max-width: 60px !important;
        white-space: nowrap;
    }
    /* mobile */
    .searchBarTop,
    .fl-page-nav-right .fl-page-nav-search {
        position: static;
    }
    .searchBarTop {
        margin: 0;
        padding: 0;
    }
    .fl-page-header-logo-col>.fl-page-nav-wrap,
    .fl-page-header-logo-col>.searchBarTop {
        flex: 1;
    }
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 2;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 10px 20px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle * {
        color: #000000;
    }
    .fl-builder-content-84 {
        position: static;
        height: auto;
    }
    .fl-page-header-container.container {
        padding-top: 10px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0;
        text-align: center;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        top: 0;
        position: static;
    }
    /* .navbar-toggle {
        display: block;
    } */
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-page-nav-right .fl-page-nav-search {
        display: block;
    }
    .fl-page-nav-search form {
        width: calc(100vw);
        position: absolute;
        margin-left: -50vw;
        top: 100%;
        left: 50%;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0 10px;
    }
    /* .fl-builder-content .fl-node-58b58157a16b3 p {
        text-align: left !important;
    } */
    .fl-node-58fab3e96409b {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 30% !important;
    }
    .fl-node-5c07f5b4dd652 {
        text-align: center;
    }
    .fl-node-5c07f5b4dd652 .fl-col {
        margin: 0 !important;
        display: inline-block;
    }
    #sifContainer {
        display: inline-block;
    }
    .fl-node-5c07f56f679ae {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 0 !important;
        padding: 30px;
        background: transparent;
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    .toggle-image-thumbnails a {
        border: 3px solid white;
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
    .facetwp-per-page {
        text-align: left !important;
    }
    .facetwp-pager {
        float: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        bottom: 0;
        margin: auto !important;
    }
    .fl-col-small {
        max-width: 700px;
    }
    footer .footer-1-top .fl-col-small {
        margin: 0px;
        width: 50%!important;
        display: inline-block;
        padding: 20px;
    }
    footer .footer-1-top .fl-col-small .resp-left {
        text-align: left!important;
    }
    .plpAlignTitle {
        position: static;
        margin-top: 8px;
        /* top: 28px;
        right: 0; */
    }
    .cat-boxes .fl-callout .fl-callout-content {
        max-width: 360px;
        margin: 0 auto;
    }
    .spotlight-layout-4 .fl-col-group .fl-col:first-child .fl-col-content:after,
    .spotlight-layout-3 .fl-col-group .fl-col:first-child .fl-col-content:after,
    .spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content:after {
        display: none;
        display: none;
    }
    footer .footer-1-top .fl-col-group-nested:first-child .fl-col-small {
        width: 33%!important;
    }
    footer .footer-1-top .resp-foot-section {
        padding:;
    }
    .fl-menu .fl-menu-mobile-toggle {
        color: #fff!important;
    }
    .tabs-5 .fl-tabs-label {
        max-width: 100%;
    }
}

@media (max-width:567px) {
    footer .social-icons{
        text-align: left !important;
    }
    .fl-row .fl-row-content .flooring-off-resp {
        width: 50%!important;
    }

    footer .footer-1-top .fl-col-small {
        margin: 0px;
        width: 100%!important;
        display: inline-block;
        padding: 0px 20px;
    }
    footer .resp-foot-section .fl-module-content {
        margin-top: 0px!important;
    }
    .plpAlignTitle {
        position: static;
    }
    body {
        /* padding-top:150px; */
    }
    .fl-node-5be442c535e25 {
        padding: 10px 20px;
    }
    #djcustom-header {
        top: 45px !important;
    }
    header .close_menu {
        /* display: none; */
    }
    .facet_filters {
        top: 0px;
    }
    .tabs-1 .fl-tabs-label {
        color: #2d2d2d;
        width: 100%;
    }
    .fl-page-nav ul.sub-menu {
        width: auto;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5,
    .fl-node-58fab48ccb679.fl-module-heading .fl-heading,
    .fl-node-58fab44d7e59e.fl-module-heading .fl-heading {
        text-align: left !important;
        font-weight: bold;
    }
    #menu-footer-menu a {
        font-size: 14px;
    }
    .fl-node-5beb43b72f056 {
        display: none;
    }
    .fl-node-5be442c535e25 {
        padding: 8px 15px;
    }
    .fl-node-5beda7e76ea83 {
        flex-direction: column;
    }
    div#sifContainer {
        width: auto;
        text-align: center;
        padding: 10px;
        margin: 0 20px;
    }
    .fl-node-58fab5c012487 {
        padding: 0 25px;
    }
    .default-form h1 {
        font-size: 34px !important;
        word-wrap: normal;
    }
    .top-bar-1 .fl-heading {
        margin: 0;
    }
    footer .fl-col.fl-node-5beda7e76ec6f {
        margin-bottom: 0 !important;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 100% !important;
    }
    /* detail page  */
    .product-box {
        clear: both;
        text-align: center;
    }
    .color-box {
        min-height: auto;
    }
    .product-variations {
        margin: 0;
    }
    .product-attributes {
        margin-top: 0;
    }
    .product-box a.fl-button {
        width: auto !important;
    }
    .fl-page-header-logo-col {
        width: 100%;
    }
    footer .footer-1-top .fl-col-group-nested:first-child .fl-col-small {
        width: 100%!important;
    }
    footer .footer-1-top .fl-col-group-nested:first-child .fl-col-small .resp-left {
        text-align: left!important;
    }
}


.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.broken_link,
a.broken_link {
    text-decoration: none !important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}


/* CSS for the Plugin */

.njba-logo-inner {
    border: none !important;
}

h4 .njba-logo-title {
    height: 15.6px;
    width: 103px;
    color: #767676;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 15px;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: -20px;
}

.bx-wrapper .bx-prev {
    right: 64px !important;
    left: auto !important;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: 35px;
}

.brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: -50px;
    top: 50% !important;
}

.brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -50px !important;
    right: auto !important;
    top: 50% !important;
}

#hp-product-2 h3.njba-logo-title {
    padding: 10px 17px 13px;
}

.njba-logo-grid-main .njba-logo-inner {
    margin-bottom: 50px;
}

.card_boxed_img .fl-button {
    margin-bottom: 20px;
}

.njba-tabs .njba-tab-label-inner,
.njba-tabs .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs .njba-tabs-panel-content,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner {
    border: none !important;
}

.njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.njba-tab-active .njba-tab-title {
    border-bottom: 3px solid #4A4A4A;
}

.njba-logo-inner {
    background: none;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
}

.banner-left-section {
    position: relative;
}

.banner-left-section .fl-module {
    z-index: 2;
}

.banner-left-section .paint-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}


/* Coupon Banners CSS*/

.couponbanner1 .fl-cta-title,
.couponbanner2 .fl-cta-title,
.couponbanner3 .fl-cta-title {
    padding: 0;
}

.couponbanner1 .fl-cta-button .fl-button .couponbanner2 .fl-cta-button .fl-button,
.couponbanner3 .fl-cta-button .fl-button {
    display: inline-block;
}


/* Nav */

.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #DC515A;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px !important;
}

.nav-1-menu .menu a {
    padding-top: 0px !important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.wpmm_brand_logo_wrap {
    z-index: 1;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul {
    flex: 1 1 auto;
    text-align: right;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}

.googlekeyword {
    font-size: 36px !important;
}

@media only screen and (max-width: 1100px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li {
        margin: 0px;
    }
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
        font-size: 13px;
        padding: 15px 10px;
    }
}

.simple-sitemap-page li {
    color: #428bca;
    font-size: 30px;
}

.simple-sitemap-page li a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 0px;
    vertical-align: middle;
}

.simple-sitemap-page li a:hover {
    color: #428bca;
    padding-left: 10px;
}

.simple-sitemap-page li {
    color: #428bca;
}

.fl-content-slider .fl-slide-bg-link {
    z-index: 99;
}

.product-detail-layout-5 .button-wrapper .button {
    width: 44% !important;
}


.active-gallery-modal .product-box a.fl-button:hover{
	background:#fff !important;
}
.fl-builder-content   a.fl-button {
	display:inline !important;
}
body .fl-builder-content .open_sidebar a.fl-button{
    display: inline-block!important;
}
/* custom css start here */
.flooringRowCta .uabb-image-carousel-caption {
    background-color: transparent;
    font-size: 22px!important;
    line-height: 1em;
    color: #fff;
    font-style: italic;
    margin-bottom: 0px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-overflow: inherit;
    white-space: inherit;
    width: 100%;
}
.flooringRowCta .uabb-image-carousel-caption a{
     display: block;
     background-color: #0f0075;  
     color: #fff;
     font-weight: 300;
     text-transform: uppercase;
     padding: 20px;
     max-width: 200px;
     width: 100%;
     font-size: 16px;   
    letter-spacing: 1px; 
     margin: 0 auto; 
     margin-top: 10px;        
}
.flooringRowCta .uabb-image-carousel-caption a:hover{
    background-color: #000;  
}
.flooringRowCta .uabb-image-carousel-caption a:after{ 
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 22px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
}
.flooringRowCta .uabb-image-carousel-item {
    position: relative;
    padding-bottom: 40px;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    padding: 5px 20px;
	max-width: 1200px;
	width: 100%;
	left: 0;
    right: 0;
}
.custom_searchHeader .fl-icon {
	cursor: pointer;
}
ul.store-opening-hrs > li {
    font-weight: 700!important;
    text-align: left!important;
}
ul.store-opening-hrs > li > span {
    font-weight: 400!important;
    float: right;    
}
.row100 .fl-row-content {
	width: 100%!important;
}


/* cart page css start here  */ 

.cart_html .custom_cart button[type=submit], .woocommerce .cart_totals .checkout-button, .woo_checkout button[type=submit] {
	color: #fff;
    padding-top: 16px;
    padding-bottom: 10px;
    max-width: 200px;
    width: 100%!important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #cc0023;
    font-family: "Spartan",sans-serif;
    font-weight: 700;
    font-size: 16px;
	text-transform: uppercase;
}
.woocommerce .cart_totals .checkout-button {
	max-width: 300px!important;
    width: 100%;
    margin: 0 auto!important;
}
.woocommerce .cart_totals .checkout-button{
    text-transform: uppercase!important;
	max-width: 100%;
	width: 100%;
	min-height: 65px;
    align-items: center;
    vertical-align: middle;
    line-height: 65px;
    padding: 0px;
    color: #fff!important;
    font-weight: 300;
}
.woocommerce .cart_totals .checkout-button:hover { 
	background-color: #000!important;
}
.cart_html .coupon .button, .cart_html button[type=submit] {
	text-transform: uppercase!important;
    min-height: 65px;
    align-items: center;
    vertical-align: middle;
    line-height: 65px;
    color: #fff!important;
    font-weight: 300;
    padding: 0px 30px!important;
}
.coupon input[type=text] {
	min-height: 65px;
    align-items: center;
    vertical-align: middle;
    line-height: 65px;
    color: #000!important;
    font-weight: 300;
    padding: 0px 20px;
}
.cart_html .custom_cart .product-remove { 
	text-align: center!important;
}
.cart_html .custom_cart .remove {
	margin: 0 auto;
	border: 1px solid #ccc;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    box-shadow: 1px 1px 4px #c4c4c4;
}
.woocommerce .cart_totals  {
	width: 100%!important;
}
.woocommerce .cart_totals h2{
	margin-top: 0px!important;
	text-transform: capitalize;
}
/* cart page css end here  */ 
/* checkout page css start here  */ 
.woo_checkout input[type=text], .woo_checkout select, .woocommerce form .form-row input.input-text, .woocommerce-page form .form-row input.input-text, .woocommerce form .form-row select, .woocommerce-page form .form-row select, .woocommerce form .form-row .select2-container .select2-selection {
    height: 49px;
    border: 2px solid #ccc;
    border-radius: 0px;
    color: #000!important;
    font-size: 16px;
    width: 100%;
}
.woocommerce form .form-row textarea {
	border: 2px solid #ccc;
    border-radius: 0px;
    color: #000!important;
    font-size: 16px;
	padding: 10px 12px;
}
.selection, .select2-selection__rendered {
    height: 100%!important;
    border: none!important;
}
.select2-selection__rendered {
 padding: 10px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 50%;
    right: 1px;
    width: 20px;
    transform: translateY(-50%);
}
.woo_checkout div.woocommerce h3{
	text-transform: capitalize;
	font-size: 22px;
}
.woo_checkout input[type=text]:focus, .woo_checkout select:focus, .woocommerce form .form-row input.input-text:focus, .woocommerce-page form .form-row input.input-text:focus, .woocommerce form .form-row select, .woocommerce-page form .form-row select:focus, .woocommerce form .form-row .select2-container--open .select2-selection, .woocommerce form .form-row textarea:focus {
    border: 2px solid #000;
}
.woo_checkout button[type=submit] {
	text-transform: uppercase!important;
}
/* checkout page css end here  */ 

/* My account page css start here */

.woocommerce .woocommerce-MyAccount-navigation ul li, .woocommerce-page .woocommerce-MyAccount-navigation ul li {
    border-top: 1px solid #ddd;
}
.woocommerce .woocommerce-MyAccount-navigation ul li > a, .woocommerce-page .woocommerce-MyAccount-navigation ul li > a {
    padding-top: 12px;
}
.woo_myAccount .button, .woo_myAccount button[type=submit] {
    font-weight: 700;
    font-size: 14px!important;
    text-transform: uppercase!important;
    padding-top: 12px!important;
    width: 200px;
    padding: 18px 20px 14px 20px!important;  
}
.woo_myAccount .woocommerce-MyAccount-content fieldset legend {
    margin-bottom: 10px;
    padding-top: 20px!important;
}
.woo_myAccount .woocommerce-MyAccount-navigation > ul li a {    
    color: #000;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;    
    padding-left: 10px!important;
}
.woo_myAccount .woocommerce-MyAccount-navigation > ul li.is-active > a {
    color: #0f0075;
}
.woo_myAccount  .woocommerce-MyAccount-content form > h3{
    margin-top: 0px!important;
}
.woo_myAccount form button[type=submit]{
    margin-top: 20px; 
}
.woocommerce-form.woocommerce-form-login.login .form-row {
    display: flex;
    flex-direction: column;
}
.woocommerce-form.woocommerce-form-login.login p button[type=submit], .woocommerce-form.woocommerce-form-login.login .lost_password {
    margin-top: 10px;
}
.woocommerce-Button.button {
	text-align: center!important;
}
@media (min-width: 1100px) {
.blog .fl-archive.container, .single-post .container {
        width: 1250px!important;
    }
}
.blog .fl-post .fl-post-image-beside{
    float: none!important;
}
.fl-post-header .fl-post-title h2,
.fl-post .fl-post-header .fl-post-title{
    font-size: 35px!important;
}

.fl-post .fl-post-content h2{
    font-size: 30px!important;
}
.blog .fl-post .row{
    margin: 0px!important;
}
/* My account page css end here */
@media(max-width: 1025px) {
	header .headerRow .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a, header .headerRow .uabb-creative-menu .menu > li > a {
		font-size: 14px!important;
	}
	header .headerRow .uabb-creative-menu .menu > li {
		margin-right: 10px!important;
	}
}
@media(max-width: 768px) { 
    .fl-post-header .fl-post-title h2,
.fl-post .fl-post-header .fl-post-title{
    font-size: 24px!important;
}
.fl-post .fl-post-content-beside,
.blog .fl-post .fl-post-image-beside{
    padding: 0px!important;
}
.fl-post .fl-post-content h2{
    font-size: 20px!important;
}
	.relProd ul.products li {
		flex: 0 0 50%;
	}
    .location-btn-col .fl-button-group-buttons .fl-button {

        margin: 0 auto;
    }
}	

@media(max-width:480px) { 
	.relProd ul.products li {
		flex: 0 0 100%;
	}
	.flexContent .uabb-text-editor > div {
		justify-content: center;
	}
	.cart_html .coupon .button {
		line-height: 1em;
	}
	.cart_html .wc-proceed-to-checkout {
		text-align: center;
	}
    .request-measure-content h2.uabb-heading span {
        display: inline-block;
    }
    #responsive-menu-container {
        width: 83%  !important;
    }
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
        font-size: 14px !important;
    }
	
}
@media(max-width:400px) {
    .fl-row .fl-row-content .flooring-off-resp {
        width: 100%!important;
    }
    footer .resp-foot-section{
        text-align: left !important;
    }
    .spotlight-layout-3 .fl-col-group .fl-col:last-child .fl-col-content:after{
        position: static !important;
    }
}
/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
    
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .fl-module-rich-text.facet_filters{
        display: none;
    }
    
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
    
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
    
}
/* PLP Page Css iPad Air */
